# Node
node_modules/
dist/
build/
.env
.env.local
.env.production
server.log
.wwebjs_auth/
.wwebjs_cache/
.wwebjs_sessions/
database/

# Next.js
.next/
out/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
